ADMIN_USER=xiaofuniya
ADMIN_PASSWORD=abcd1234

THIRD_PARTY_URL=https://enff8jbe9flh3mk9.lhxcx1.com/api/admin/index9-api.php
THIRD_PARTY_BASE_URL=https://enff8jbe9flh3mk9.lhxcx1.com
THIRD_PARTY_COOKIE=uservip=your_phone; PHPSESSID=your_session_id

COS_BUCKET=juanjuanquan-1259279217
COS_REGION=ap-guangzhou
SecretId=your_cos_secret_id
SecretKey=your_cos_secret_key
